
body {
  background-color: white;
}

h1 {
  margin:0;
  text-align: center;
  position: relative;
  top: 30px; 
  font-size: 30px;

}

#dictionary-intro,
p
{
  text-align: center;
  position:relative;
  top: 250px;
  font-size: 25px;
}

  .topnav {
    background-color: /*lightgray*/ #FFE5FC;
    overflow: hidden;
    position:absolute;
    top: 200px;

  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 68px;
    text-decoration: none;
    font-size: 17px;
  
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: darkgray;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: gray;
    color: white;
  }


/* Style the letter box - based on figma css*/
.letter1 {
  position: absolute;
  width: 344px;
  height: 551px;
  left: 598px;
  top: 350px;
  background-color: #FFE5FC;

  }

.letter2{
  position: absolute;
  width: 344px;
  height: 551px;
  left: 174px;
  top: 350px;
  background-color:  #FFE5FC ;
}

.letter3{
  position: absolute;
  width: 344px;
  height: 551px;
  left: 1022px;
  top: 350px;
  background-color:  #FFE5FC ;
}
